
.btn {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    transition: background 0.3s;
}

.btn-primary {
    background: #003366; /* آبی تیره */
    color: #fff;
}

.btn-primary:hover {
    background: #0055aa;
}

.btn-secondary {
    background: #0088cc; /* آبی روشن */
    color: #fff;
}

.btn-secondary:hover {
    background: #0077b3; /* آبی تیره‌تر هنگام hover */
}
